<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">URL Shortener</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="nav-button hvr-grow" href="{{ url_for('urlshort.session_api') }}">API</a>
      <a class="nav-button hvr-icon-forward" href="{{ url_for('urlshort.home') }}" >
        New URL
        <i class="fa fa-chevron-circle-right hvr-icon"></i>
      </a>
    </nav>
  </header>

  {% block main %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>