:root {
   --purple-background: linear-gradient(180deg, rgb(103, 66, 150), rgb(54, 28, 88));
   --inbody-background: #3c5e90;
   --nav-shadow: 1px 1px 5px 1px #2f2c2c;
   --about: #A1C6D7;
   --font-one: 'Montserrat', sans-serif;
}

html {
   scroll-behavior: smooth !important;
}

body {
   width: 100%;
   height: 100%;
   background-color: var(--about);
   margin: 0;
   box-sizing: border-box;
}

header {
   padding: 15px;
   background-color: rgb(219, 219, 233);
   overflow: hidden;
   top: 0;
   position: fixed;
   z-index: 20;
   width: 100%;
}

@media screen and (min-width: 800px) {
   header{
      display: inline;
   }
}

.container {
   padding: 16px;
   margin-top: 5rem;
}

.nav-button {
   margin-left: 10px;
   padding: 8px;
   border-radius: 5%;
   background-color: var(--inbody-background);
   color: white;
   text-decoration: none;
}

.nav-button:hover {
   text-decoration: none;
   color: ghostwhite;
}

/* grow  */
.hvr-grow {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
   text-decoration: none;
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

/* Icon Forward */
.hvr-icon-forward {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.1s;
   transition-duration: 0.1s;
   text-decoration: none;
}

.hvr-icon-forward .hvr-icon {
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
   -webkit-transform: translateX(4px);
   transform: translateX(4px);
}

.column {
   float: left;
   width: 33%;
   padding: 0 10px;
}

.urls {
   margin: 0 -5px;

}

.urls:after {
   content: "";
   display: table;
   clear: both;
}

@media screen and (max-width: 600px) {
   .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
   }
}

.card-two {
   grid-template-columns: 95% 5%;
   position: relative;
   display: grid;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: #f1f1f1;
   margin-bottom: 20px;
   border-radius: 5px;

}

.card-two a {
   font-weight: bold;
   font-size: 1.2rem;
}

.card-two .left {
   padding: 10px 0px 10px 10px;
   margin: 0;
}

.right i {
   padding-top: 15px;
   font-size: 18px;
}

.right i:hover {
   cursor: pointer;
}

/* Icon Grow */
.hvr-icon-grow {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

.hvr-icon-grow .hvr-icon {
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.hvr-icon-grow:hover .hvr-icon,
.hvr-icon-grow:focus .hvr-icon,
.hvr-icon-grow:active .hvr-icon {
   -webkit-transform: scale(1.1) translateZ(0);
   transform: scale(1.1) translateZ(0);
}

.dropdown-content {

   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 90px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
}

.dropdown-content a {
   font-size: 17px;
   color: black;
   padding-left: 5px;
   text-decoration: none;
   display: block;
}

.dropdown a:hover {
   background-color: #ddd;
}

.show {
   display: block;
}

